CLIENT_GATEWAY_PORT=



# Postgres database credentials
# LEADER_DATABASE_URL=
# FOLLOWER1_DATABASE_URL=
# FOLLOWER2_DATABASE_URL=
LEADER_DATABASE_URL=

# MongoDB database credentials
ORDERS_DATABASE_URL=

## DB NAMES
AUTH_DB=
RESTAURANT_DB=
CUSTOMER_DB=
COURIER_DB=
ORDER_DB=

# FIREBASE CREDENTIALS
FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=

## JWT credentials
JWT_SECRET=

## Mail server credentials
EMAIL_HOST=
EMAIL_USERNAME=
EMAIL_PASSWORD=

## Stripe credentials
STRIPE_SECRET=
STRIPE_ENDPOINT_SECRET=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
PAYMENTS_MS_PORT=

## AWS S3 credentials
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=